
.header{
    background-color: rgba(9, 175, 134);
}
.header.header-bg{
    background-color: blanchedalmond;
}


.header input{
    background-color: rgb(170, 228, 213);
    padding: 4px;
    color: #000000;
    border: 1px solid rgba(9, 175, 134);
}

.logo span{
    color: rgba(9, 175, 134);
    font-weight: bold;
}
.navbar{
position: relative;
width: 100%;
display: flex;
}
.nav {
    padding: 10px;
}
.Navbar a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
     color: #000000; 
    text-decoration: none;
    padding: 0 23px;
    margin-bottom: 5px;
}
.Navbar a:hover{
    color: rgba(9, 175, 134);
}
.Navbar a.active:hover::after, .Navbar a.active::after{
    color: rgba(9, 175, 134);
    content: "";
    position: absolute;
    background: rgba(9, 175, 134);
    bottom: -3px;
    width: 70%;
    height: 2px;
    left: 20px;
}
.Navbar a:hover, .Navbar a.active{
    color: rgba(9, 175, 134);   
}

/* login Btn  */
.MyProfilen a{
 padding: 0;
}


