.bookAppointment{
    background-color: rgb(249, 249, 249);
}
.span{
    color: rgba(9, 175, 134);
}

/* heart btn start */
.heartBtn{
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(9, 175, 134);
    color: #fff;
    border: 1px solid rgba(9, 175, 134);
    cursor: pointer;
    z-index: 2;
    position: relative;
}
.heartBtn::before{
    content: '';
    position: absolute;
    border:15px solid rgb(145, 240, 217);
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: heart 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}

 .heartBtn::after{
    content: '';
    position: absolute;
    border:10px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: heart1 1.5s linear infinite;
    opacity: 0;
    animation-delay: .4s;
    z-index: 1;
} 

@keyframes heart{
    
     0%{
        transform: scale(.5);
    }
    50%{
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }
    
}

@keyframes heart1
    {
    0%{
        transform: scale(.5);
    }
    50%{
        opacity: 1;
    }
    100%
    {
        transform: scale(1.5);
    }
}
/* heart btn end */

.bookAppointmentBtn{
    border:2px solid rgba(9, 175, 134);
    color: #000000;
    border-radius: 5px;
    transition: 0.8s;
}
.bookAppointmentBtn:hover{
    background-color: rgb(3, 90, 250);
    border:2px solid rgb(3, 90, 250);
    color: #fff;
} 