.contact{
    background-image: url(../../../assets/background/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}